/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootsy
 */
body { padding-top: 50px; }
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }

fieldset legend {
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  padding: 0.5em 2em;
  background: #171a1e;
  -webkit-border-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 50%, #2d333b 50%) 1 round;
       -o-border-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #2d333b 50%) 1 round;
          border-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #2d333b 50%) 1 round;
  border-width: 1px;
  border-style: solid;
  display: block;
  width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
